<h1>New article</h1>
<%= form_with model: @article do |form| %>
  <%= form.label :title, "Title"%>
  <%= form.text_field :title %>
  <%= form.label :content, "Content"%>
  <%= form.text_area :content %>
  <%= form.submit %>
<%end%>

<%= link_to "Back", articles_path %>
